.netflix-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black; /* 배경색을 검정으로 */
}

.netflix-logo {
  display: flex;
  gap: 2vmin;
}

.letter {
  color: red; /* 글자 색상은 넷플릭스 로고 색상인 빨간색 */
  font-size: 10vmin;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}
